@import "tailwindcss";

* {
  font-family: Outfit;
}

/* Define CSS Variables */
:root {
  --lightHover: #fcf4ff;
  --darkHover: #2a004a;
  --darkTheme: #11001f;
  --fontOutfit: "Outfit", sans-serif;
  --boxShadowWhite: 4px 4px #fff;
  --boxShadowBlack: 4px 4px #939292;
  /* grid columns */
  --gridTemplateColumnAuto: repeat(auto-fit, minmax(200px, 1fr));
}

/* Custom hover effect */
.custom-hover:hover {
  background-color: var(--lightHover);
  box-shadow: var(--boxShadowBlack);
}

.contact-bgImage {
  background-image: url("/tiva_portfolio/assets/public/footer-bg-color.png");
}

.lightHover:hover {
  background-color: var(--lightHover);
}

/* You can define more specific hover classes if needed */
.custom-dark-hover:hover {
  background-color: var(--darkHover);
}

.custom-dark-theme {
  background-color: var(--darkTheme);
}

/*custom grid column */
.gridColumnAuto {
  grid-template-columns: var(--gridTemplateColumnAuto);
}
