@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

* {
  font-family: Outfit;
}

html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar,
header,
section,
footer {
  transition: background-color 0.3s ease, color 0.3s ease;
}


@theme {
  --lightHover: #fcf4ff;
  --darkHover: #2a004a;
  --darkTheme: #11001f;
  --fontOutfit: "Outfit", sans-serif;
  --boxShadowWhite: 4px 4px #fff;
  --boxShadowBlack: 4px 4px rgba(108, 108, 197, 0.945);
  /* grid columns */
  --gridTemplateColumnAuto: repeat(auto-fit, minmax(200px, 1fr));
  --breakpoint-3xl: 120rem;
}


/* Custom hover effect */
.custom-hover:hover {
  box-shadow: var(--boxShadowBlack);
}

.lightHover:hover {
  background-color: var(--lightHover);
}

/* You can define more specific hover classes if needed */
.custom-dark-hover:hover {
  background-color: var(--darkHover);
}

.custom-dark-theme {
  background-color: var(--darkTheme);
}

/*custom grid column */
.gridColumnAuto {
  grid-template-columns: var(--gridTemplateColumnAuto);
}


